.DS_Store
**/__pycache__
**/Results
*.pyc
3D/Tilt_Series/*
*.so
gpu_3D/Utils/container/
gpu_3D/Utils/regularizers/*.o
thirdparty/astra-toolbox
thirdparty/eigen
thirdparty/astra/lib/
fused_multi_modal/Utils/container/*.out
fused_multi_modal/Utils/container/*.o
fused_multi_modal/Utils/regularizers/*.o
